.Cartao{
    border: 1px solid rgb(107, 0, 168);
    width: 200px;
   display: flex;
   text-align: center;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 30px;
   cursor:pointer;
   background-color: blueviolet;
  }
  .Cartao:hover{
    transform: scale(1.1);
    transition: 2.ms;
  }
  .Cartao img{
    border: 1px solid rgb(154, 154, 154);
   width: 100%;
  }
   .Cartao button{
 width: 100%;
    border: none;
    background-color: rgb(67, 0, 145);
    height: 40px;
    cursor: pointer;
    border-top: black;
    color: white;
  }
  .BoxCartao{
    
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 782px){
    .Cartao{
      width: 150px;
      
    }
  }

  @media(max-width: 651px){
.Cartao{
  width: 250px;
}
  }