.Linkss a{
    margin: 10px;
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    position: relative;
}

.Linkss{
    margin-top: 50px;
}

@media(max-width: 651px){
.Linkss{
    font-size: 10px;
}

}