body{
  max-width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: rgb(78, 0, 122);
}
.cards{
  display: flex;
  
}

@media(max-width: 651px){
.cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}